*{
    box-sizing: border-box;
}

.employees{
    display: flex;
    flex-wrap: wrap;
}

.employee{
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    border: solid 1px black;
    width: calc(100% / 3 - 2rem);
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.favorite {
    background-color: blanchedalmond;
}